Binaries
DerivedDataCache
Intermediate
Saved
Content/Environment
Content/Weapons
Content/Sounds
Content/Maps
Content/Effects
Content/ParagonWraith
Content/Blueprintz
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace